.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    position: absolute;
    top: 20px;
}

.Logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.Box {
    display: flex;
    align-items: center;
    gap: 35px;
}

@media screen and (max-width: 1300px) {
    .Header {
        padding: 0 15px;
    }
}